*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}
.contenedor{
    margin: 5px 10px 15px;
}
nav{
    height: auto;
    line-height: auto;
}
.a{
    text-align: center;
    background: aqua url(../img/img2.webp);
    font-size: 2em;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b{
    float: left;
    width: 10%;
}
.log{
    height: 7em;
    width: 100%;
}
.c{
    float: left;
    height: 7em;
    width: 90%;
    text-align: right;
}
.c li{
    padding: 1.2em;
    display: inline; 
}
a{
    font-family: cursive;
    color: black;
    text-decoration: none;
}
section{
    clear: both;
    display: flex;
}
.uno{
    width: 40%;
    text-align: justify;
    border: solid black 0.1em;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dos{
    width: 60%;
    text-align: center;
}
.dios{
    text-align: center;
}
.one{
    width: 33.3%;
    border: solid black 0.1em;
}
.img2{
    border-radius: 2em;
    height: 5em;
}
.two{
    width: 33.3%;
    border: solid black 0.1em;
}
.twe{
    width: 33.3%;
    border: solid black 0.1em;
}
.ab{
    width: 50%;
}
.bb{
    width: 50%;
    border: solid black 0.1em;
}
footer{
    text-align: center;
}
.r{
    margin: 0.5em;
    border-radius: 2em;
    height: 5em;
}
.i{
    float: center;
    height: 1.5em;
    margin: 0px 1em;
}
.info{
    letter-spacing: 0.1em;
    display: inline-flex;
}