*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: gray;
}
.contenedor{
    width: 90%;
    margin: 10px auto;
}
.cabecera{
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background-image: url(../img/img2.webp);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1{
    margin-bottom: 20px;
}
.ingresar{
    width: 400px;
    height: 40px;
    background-color: transparent;
    color: red;
    font-family: 'Trebuchet';
    font-size: 1.2em;
    border: 2px silver outset;
}
nav{
    background-color: gray;
    height: 60px;
    text-align: right;
}
.logo{
    float: left;
    width: 10%;
    padding-top: 5px;
    text-align: center;
}
.circulo{
    border-radius: 25px;
}
.menu{
    float: left;
    width: 80%;
    line-height: 60px;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    margin: 0px 50px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.principal{
    clear: both;
}
.uno{
    float: left;
    width: 50%;
    border: 2px silver solid;
    border-radius: 10px;
    margin-top: 5px;
    padding: 20px;
}
.dos{
    float: left;
    width: 50%;
    margin-top: 5px;
    padding: 20px;
}
.uno p{
    text-align: justify;
    font-size: 1.1em;
    padding: 30px;
}
.uno h2{
    text-align: center;
    color: black;
}
.dos p{
    text-align: center;
    font-size: 1em;
    padding: 30px;
    font-family: cursive;
    font-size: 1.2em;
}
.dos h2{
    text-align: center;
    color: black;
}
.tarjetas{
    clear: both;
    text-align: center;
}
.tres{
    float: left;
    width: 33.3%;
    margin-top: 10px;
    border: 1px silver solid;
    border-radius: 10px;
    padding: 20px;
    background: rgb(233, 231, 231);
}
.tres p{
    padding: 20px;
    text-align: justify;
    font-size: 1.1em;
    color: black;
}
