* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, silver, white);
}

.contenedor {
    width: 95%;
    margin: 5px auto;
    /*Propiedades flexbox*/
    display: flex;
    flex-wrap: wrap; /*Se van colocando abajo, automaticamente*/
    justify-content: space-between;
}

.logo {
    width: 10%;
}

.circulo {
    border-radius: 50%;
}

.menu {
    width: 80%;
    text-align: center;
    height: 60%;
    margin-top: 0.7em;
}

.menu ul li {
    display: inline;
    margin: 10px;
}

.menu ul li a {
    text-decoration: none;
}

.redes {
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.social {
    margin: .2em;
}

.cabecera {
    width: 100%;
    height: 200px;
    background: url(../img/img2.webp);
    text-align: center;
}

.cabecera p {
    margin-top: 2.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecera h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecera button {
    width: 400px;
    height: 40px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet';
    font-size: 1.2em;
    border: 2px silver outset;
}

.tarjeta {
    width: 33%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid;
}

.izq {
    width: 40%;
    border: 2px black solid;
    text-align: justify;
}

.der {
    display: flex;
    width: 60%;
}

.formulario {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    border: 2px solid; /* Añadido borde al contenedor del formulario */
    padding: 0; /* Eliminamos el padding para que el borde esté pegado */
}

.formulario form {
    margin: 0; /* Eliminamos el margen del formulario */
    padding: 1em; /* Añadimos un poco de padding interno para que el contenido no esté pegado al borde */
}

.pie {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .logo,
    .menu,
    .redes {
        width: 100%;
    }

    .tarjeta {
        width: 100%;
    }

    .izq {
        width: 100%;
    }

    .der {
        width: 100%;
    }
}